html {font-family:Helvetica;}

article {
  width:100%;
  height: 100%;

}

article img {
  width: 30%;
}

article section {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  padding: 0 25px;
}

h1 {
  color: grey;
  font-family: 'Source Serif Pro', serif;
  letter-spacing: 1px;
  text-align: left;
}


p {
  font-family:'Kumbh Sans', sans-serif;
  text-align: left;
  font-size: 14px;
  word-spacing: 3px;
  letter-spacing: 1px;
  line-height: 1.4;
  color: grey
}

div {
  margin: 20px;
}

button {
  border: none;
  font-family:'Kumbh Sans', sans-serif;
  background-color: inherit;
  border-radius: 10px;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  /*place inside nav element, float:right property, give new clear:both or clear:right */

}

button:hover {
  background-color: grey;
  color: white;
}

.btn:hover {background: #eee;}
.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}
